services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333" # HTTP API
      - "6334:6334" # gRPC
    volumes:
      - qdrant_storage:/qdrant/storage
    environment:
      QDRANT__STORAGE__STORAGE_PATH: "/qdrant/storage"
      QDRANT__SERVICE__GRPC_PORT: 6334

  vllm:
    image: vllm/vllm-openai:v0.8.5
    container_name: vllm
    restart: unless-stopped
    gpus: all
    ports:
      - "8000:8000"
    environment:
      HF_HOME: /models
    volumes:
      - ./models:/models
    command: >
      --model Qwen/Qwen3-4B-Instruct-2507-FP8
      --host 0.0.0.0
      --port 8000
      --max-model-len 8192
      --gpu-memory-utilization 0.5

  # api:
  #   build: .
  #   container_name: rag-api
  #   restart: unless-stopped
  #   depends_on:
  #     - qdrant
  #     - vllm
  #   ports:
  #     - "8001:8001"
  #   environment:
  #     QDRANT_URL: http://qdrant:6333
  #     LLM_BASE_URL: http://vllm:8000/v1
  #     LLM_API_KEY: dummy
  #   # volumes:

volumes:
  qdrant_storage: